#DataTables_Table_0_filter {
    display: none;
}

.page-sidebar-menu li.twoLines i {
    float:left;
}

.page-sidebar-menu li.twoLines p {
    display: block;
    width: 84%;
    float: left;
    margin-left: 3px;
}

/*Patients*/
.patients #opciones .form-group {
    margin-bottom: 32px;
}

.patients #opciones .form-group > label {
        margin-top: 6px;
}

.patients .patientsTable td, .patientsTable th {
    text-align: center;
}

.error {
    color:red;
    font-size:12px;
}
/*End Patients*/